<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style.css" /> <!-- Общие стили -->
    <link rel="stylesheet" href="/static/css/home.css" />  <!-- Стили для home -->

    <!-- Подключаем Google Fonts для шрифта -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header class="header home-header">
            <h1>Добро Пожаловать!</h1>
            <div class="text-placeholder">
                <p>Анализируйте ваши данные легко и эффективно.</p>
                <p>Загрузите файл, чтобы начать.</p>
            </div>
        </header>

        <footer class="footer home-footer">
            <!-- Скрытое поле для выбора файла -->
            <!-- <input type="file" id="fileInput" accept=".csv, .json, .xlsx" style="display: none;"> -->
            <input type="file" id="fileInput" accept=".csv, .json" style="display: none;">
            <!-- Кнопка, которая будет вызывать клик по скрытому полю -->
            <button class="upload-btn">ЗАГРУЗИТЬ</button>
        </footer>
    </div>

    <script src="/static/js/scripts.js"></script> <!-- Общие скрипты -->
    <script src="/static/js/home.js"></script>   <!-- Скрипты для home -->

</body>
</html>